.c-image-wrapper--features {
  width: 100%;

  @include min-mq($laptop) {
    max-width: var(--size-80);
    margin-left: -120px;
    margin-right: var(--size-30);
  }
}

.c-content-wrapper--features {
  width: 100%;

  @include min-mq($tabletLandscape) {
    max-width: var(--size-75);
  }
}
