h1,
h2,
h3,
p,
li,
button {
  font-family: var(--font-family-primary);
}

h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-semiBold);
}

h1 {
  line-height: 1.35;
  color: var(--blue-dark);
  font-size: var(--size-45);

  @include min-mq($tabletLandscape) {
    font-size: var(--size-50);
  }
}

h2 {
  font-size: var(--size-35);
  color: var(--blue-dark);
  line-height: 1.4;

  @include min-mq($tabletLandscape) {
    font-size: var(--size-40);
  }
}

h3 {
  font-size: var(--size-30);
  padding-top: var(--size-10);
}

h4 {
  font-size: var(--size-20);
}

p,
li {
  font-size: var(--size-10);
  color: var(--grey);
}

p {
  color: var(--grey);
  padding: var(--size-4) 0;
}

ul {
  list-style-type: none;
}

button {
  font-size: var(--size-10);
}
