.c-award-alert {
  background-color: var(--grey-light);
  display: inline-block;
  border-radius: var(--size-40);
  padding: 0 var(--size-40);
  position: relative;

  i {
    background-color: var(--gold);
    padding: var(--size-5);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    @include max-mq(372px) {
      padding: var(--size-10);
      font-size: var(--size-35);
    }
  }

  @include max-mq(372px) {
    padding: 0 var(--size-35) 0 var(--size-60);
  }
}
