.c-button {
  color: var(--white);
  background-color: var(--blue);
  border: none;
  padding: var(--size-10) var(--size-40);
  border-radius: var(--size-40);
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.c-button--transparent {
  color: var(--blue);
  background-color: transparent;
}
