.c-content-wrapper {
  width: 100%;

  @include min-mq($tabletLandscape) {
    max-width: var(--size-75);
  }
}

.c-heading-wrapper {
  width: 100%;
  margin: 0 auto;

  @include min-mq($tabletLandscape) {
    max-width: var(--size-80);
  }
}
