.c-hamburger-menu {
  display: block;
  height: var(--size-50);
  width: var(--size-50);
  position: relative;
  z-index: 3;
  margin-left: auto;
  background-color: var(--transparent);
  border: none;

  &::before,
  &::after {
    content: "";
    display: block;
    width: var(--size-50);
    height: 3px;
    position: absolute;
    background-color: var(--black);
    transition: transform 0.4s;
  }

  &::before {
    top: 25%;
  }

  &::after {
    bottom: 25%;
  }

  @include min-mq($tabletLandscape) {
    display: none;
  }
}

.c-hamburger-menu__middle-line {
  display: block;
  width: var(--size-50);
  height: 3px;
  background-color: var(--black);
  opacity: 1;
  transition: opacity 0.4s;
}

.c-hamburger-menu--toggle {
  .c-hamburger-menu__middle-line {
    opacity: 0;
  }

  &::before {
    transform: rotate(-45deg) translate(calc(-1 * var(--size-5)), var(--size-5));
  }

  &::after {
    transform: rotate(45deg)
      translate(calc(-1 * var(--size-5)), calc(-1 * var(--size-5)));
  }
}
