.c-image-wrapper {
  img {
    width: 100%;
  }
}

.c-image-wrapper-negative-margin {
  @include min-mq($tabletPortrait) {
    margin-right: var(--size-30);
  }

  @include min-mq($laptop) {
    max-width: var(--size-80);
    margin-left: -120px;
  }
}

.c-image-wrapper-negative-margin--small {
  @include min-mq($laptop) {
    margin-left: -35px;
  }
}
