.c-social-media-icons-wrapper {
  padding: var(--size-35) 0 var(--size-50);
}

.c-social-media-icons {
  color: var(--grey);
  font-size: var(--size-35);
  padding: var(--size-10);

  &:hover {
    color: var(--white);
  }
}
