//containers
.u-main-container {
  max-width: var(--size-100);
  width: 100%;
  padding: 0 var(--size-10);
  margin: 0 auto;
}

.u-sm-container {
  max-width: var(--size-98);
  width: 100%;
  padding: 0 var(--size-10);
  margin: 0 auto;
}

//colors
.u-color-white {
  color: var(--white);
}
//flex
.u-flex {
  display: flex;
}

.u-flex-column {
  flex-direction: column;
}

.u-flex-space-between {
  justify-content: space-between;
}

.u-flex-space-evenly {
  justify-content: space-evenly;
}

.u-flex-center {
  justify-content: center;
}

.u-flex-halves {
  flex: 0 1 100%;

  @include min-mq($tabletPortrait) {
    flex: 0 1 50%;
  }
}

.u-flex-align-items-center {
  align-items: center;
}

.u-flex-align-items-start {
  align-items: flex-start;
}
.u-flex-wrap {
  flex-wrap: wrap;
}

.u-flex-wrap-mobile {
  flex-wrap: wrap;

  @include min-mq($tabletPortrait) {
    flex-wrap: nowrap;
  }
}

.u-paragraf-large {
  font-size: var(--size-20);
  padding: var(--size-30) 0 var(--size-40);
}
//text
.u-text-center {
  text-align: center;
}
//colors
.u-color-blue-dark {
  color: var(--blue-dark);
}

.u-color-blue-light {
  color: var(--blue-light);
}
.u-color-green {
  color: var(--green);
}

.u-color-pink {
  color: var(--pink);
}
//bg color
.u-bg-color-pink-light {
  background-color: var(--pink-light);
}

.u-bg-color-blue-extra-light {
  background-color: var(--blue-extra-light);
}

.u-bg-color-green-light {
  background-color: var(--green-light);
}

.u-bg-color-gold-light {
  background-color: var(--gold-light);
}

//headings
.u-h2-large {
  font-size: var(--size-35);

  @include min-mq($tabletPortrait) {
    padding-right: var(--size-50);
    border-right: 1px solid var(--grey);
  }

  @include min-mq($tabletLandscape) {
    font-size: var(--size-40);
  }
}

//padding
.u-padd-left-right-50 {
  padding: 0;

  @include min-mq($tabletPortrait) {
    padding: 0 var(--size-50);
  }
}

.u-padd-0 {
  padding: 0;
}

.u-pad-30 {
  padding: var(--size-35) 0;
}

.u-pad-20 {
  padding: var(--size-30) 0;
}

.u-padd-top-50 {
  padding-top: var(--size-40);

  @include min-mq($tabletPortrait) {
    padding-top: var(--size-50);
  }
}

.u-padd-top-30 {
  padding-top: var(--size-35);
}

//margins
.u-margin-auto {
  margin: 0 auto;
}
