:root {
  //font-family
  --font-family-primary: "Poppins", sans-serif;

  //sizes
  --size-5: 0.5625rem;
  --size-10: 1rem;
  --size-20: 1.125rem;
  --size-30: 1.25rem;
  --size-35: 1.875rem;
  --size-40: 2.25rem;
  --size-50: 3.75rem;
  --size-70: 6.875rem;
  --size-100: 75rem;

  //font-weight
  --font-weight-regular: 400;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;

  //colors
  --primary-color: #2500f9;
  --primary-color-dark: #242f51;
  --primary-color-extra-dark: #09132d;
  --primary-color-light: #2563ff;
  --primary-color-extra-light: #f4f4ff;
  --secondary-color: #616368;
  --tertiary-color: #f55767;
  --tertiary-color-light: #ffecef;
  --quarterly-color: #40975f;
  --quarterly-color-light: #e4ffee;

  --white: #fff;
  --black: #000;
}

//breakpoints
$xsmall: 320px;
$mobile: 375px;
$tabletPortrait: 768px;
$tabletLandscape: 1024px;
$laptop: 1280px;
$large: 1440px;
$xlarge: 1920px;
