:root {
  //font-family
  --font-family-primary: "Poppins", sans-serif;

  //sizes
  --size-5: 0.5625rem;
  --size-10: 1rem;
  --size-20: 1.125rem;
  --size-30: 1.25rem;
  --size-35: 1.875rem;
  --size-40: 2.25rem;
  --size-50: 3.75rem;
  --size-70: 6.875rem;
  --size-75: 26.875rem;
  --size-80: 41.625rem;
  --size-98: 66.875rem;
  --size-100: 75rem;

  //font-weight
  --font-weight-regular: 400;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;

  //colors
  --blue: #2500f9;
  --blue-dark: #242f51;
  --blue-extra-dark: #09132d;
  --blue-light: #2563ff;
  --blue-extra-light: #f4f4ff;
  --grey: #616368;
  --grey-light: #e2eaed;
  --pink: #f55767;
  --pink-light: #ffecef;
  --green: #40975f;
  --green-light: #e4ffee;

  --gold: #feaa25;

  --white: #fff;
  --black: #000;
}

//breakpoints
$xsmall: 320px;
$mobile: 375px;
$tabletPortrait: 768px;
$tabletLandscape: 1024px;
$laptop: 1280px;
$large: 1440px;
$xlarge: 1920px;
